:root {
}

.button {
    background-color: var(--button-background-color);
    padding: 4px;
    border-radius: var(--button-border-radius);
}

.button.shadowed {
    padding-inline: 8px;
    background-color: var(--button-shadowed-background-color);
}

.button.shadowed:not(.active) {
    background-color: transparent;
}

.three-d-button {
    background-color: var(--main-text-color);
    color: var(--promo-background-color);
    padding: 1rem 3rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.25rem;
    letter-spacing: 1px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}