:root {
    --add-promo-border-color: #B1B1B1;
    --add-promo-color: #fff;
}

.button {
    background-color: var(--button-background-color);
    padding: 4px;
    border-radius: var(--button-border-radius);
}

.button:not(#timer-container) {
    cursor: pointer;
}

.button.shadowed {
    padding-inline: 8px;
    background-color: var(--button-shadowed-background-color);
}

.button.shadowed:not(.active) {
    background-color: transparent;
}

.three-d-button {
    background-color: var(--main-text-color);
    color: var(--background-color);
    padding: 1rem 3rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.25rem;
    letter-spacing: 1px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#pauseBtn {
    box-shadow: none;
    float: left;
}

#skipBtn {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 1rem;
    cursor: pointer;
}

#skipBtn > svg {
    color: var(--main-text-color);
    transition: color .1s ease;
}

#skipBtn:hover > svg,
#skipBtn:focus > svg,
#skipBtn:active > svg {
    color: var(--gray-color);
}

#add-promo-btn {
    margin-top: .5rem;
    background-color: var(--background-color);
    border: 2px dashed var(--add-promo-border-color);
    filter: brightness(90%);
    border-radius: 8px;
    display: flex;
    justify-content: center;
}

#add-promo-btn > a {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-weight: bold;
    color: var(--add-promo-color);
}
