:root {
    --promo-color: #262626;
}

.promo {
    box-sizing: border-box;
    padding: 1rem;
    background-color: var(--main-text-color);
    color: var(--promo-color);
    border-radius: var(--button-border-radius);
    border-left: .35rem solid transparent;
    cursor: pointer;
}

.promo.active:not(.form) {
    border-color: var(--promo-color);
}

.promo:not(.active):not(.form):hover,
.promo:not(.active):not(.form):focus {
    border-color: var(--gray-color);
}

.promo p {
    font-weight: bold;
}

.promo, .promo > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
}

.promo .button {
    background-color: transparent;
    border: 1px solid var(--gray-color);
}

.promo .button:hover,
.promo .button:focus {
    background-color: var(--gray-color);
}

.promo-count-container span {
    font-size: 1.2rem;
}

.promo-count-container p {
    display: inline;
}
